<!-- ADD INPUT DATA to DATABASE/SERVER  -->
<h1>Data Submit to Database/server</h1>

<form (submit)="onAddPost(postForm)" #postForm="ngForm">
  <input
    type="text"
    name="title"
    ngModel
    required
    minlength="3"
    placeholder="Post Title"
    #title="ngModel"
  />
  <br />
  <p *ngIf="title.invalid">Please enter a post title.</p>

  <textarea
    rows="4"
    name="content"
    ngModel
    required
    placeholder="Post Content"
    #content="ngModel"
  ></textarea>
  <br />
  <p *ngIf="content.invalid">Please enter a post title.</p>

  <button type="submit">Save Post</button>
</form>

<!-- DISPLAY POSTS FROM DATABASE/SERVER -->
<h1>Display of Posts in Database/server</h1>
<div *ngIf="posts.length > 0">
  <div *ngFor="let post of posts">
    <p>
      {{ post.title }}
    </p>
    <p>{{ post.content }}</p>
    <div>
      <button>EDIT</button>
      <button>DELETE</button>
    </div>
  </div>
</div>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">
  No posts added yet!
</p>
